
<div class="common-class" >
<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="appointmentForm.get('title')?.invalid && (appointmentForm.get('title')?.touched || appointmentForm.get('title')?.dirty)">
      Title is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput type="date" formControlName="date">
    <mat-error *ngIf="appointmentForm.get('date')?.invalid && appointmentForm.get('date')?.touched">
      Date is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Time</mat-label>
    <input matInput type="time" formControlName="time">
    <mat-error *ngIf="appointmentForm.get('time')?.invalid && appointmentForm.get('time')?.touched">
      Time is required
    </mat-error>
  </mat-form-field>

  <div class="loading-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="appointmentForm.invalid || loading">
      <ng-container *ngIf="!loading">
        {{ appointment ? 'Update Appointment' : 'Add Appointment' }}
      </ng-container>
      <ng-container *ngIf="loading">
        Processing...
      </ng-container>
    </button>
    <mat-spinner *ngIf="loading" diameter="20" color="primary"></mat-spinner>
  </div>
</form>
</div>