
<div class="appointment-list mat-elevation-z8">
  <app-calender></app-calender>
  <app-appointment-form></app-appointment-form>

  <div cdkDropList (cdkDropListDropped)="drop($event)" class="list-container" [cdkDropListConnectedTo]="['appointmentList']">
    <div *ngFor="let appointment of appointments$ | async" cdkDrag class="appointment-item">
      <div class="appointment-content">
        <span>{{ appointment.title }}</span>
        <span>{{ appointment.date | date: 'medium' }}</span>
      </div>
      <button mat-icon-button color="warn" (click)="deleteAppointment(appointment.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>

