::ng-deep .common-class {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
 
}
  mat-calendar {
    width: 100%; /* Make the calendar take full width of its container */
    max-width: 100%; /* Ensure it fits within the card */
  }
  